In [21]:
import pandas as pd
import requests
import sqlalchemy 
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import text
import os

In [22]:
from dotenv import load_dotenv
from sqlalchemy import create_engine

load_dotenv(True)override=

True

In [23]:
# Extract data from a CSV
AgencyMaster = pd.read_csv(r'Data\AgencyMaster.csv') 
EmpMaster = pd.read_csv(r'Data\EmpMaster.csv') 
nycpayroll_2020 = pd.read_csv(r'Data\nycpayroll_2020.csv') 
nycpayroll_2021 = pd.read_csv(r'Data\nycpayroll_2020.csv') 
TitleMaster = pd.read_csv(r'Data\TitleMaster.csv')

In [24]:
AgencyMaster.head()

   AgencyID                      AgencyName
0      2001       ADMIN FOR CHILDREN'S SVCS
1      2002       ADMIN TRIALS AND HEARINGS
2      2003             BOARD OF CORRECTION
3      2004               BOARD OF ELECTION
4      2005  BOARD OF ELECTION POLL WORKERS

In [25]:
#Rename the 'AgencyCode' column to 'AgencyID'
nycpayroll_2021.rename(columns={'AgencyCode': 'AgencyID'},inplace=True)

In [26]:
nycpayroll_2021.head()

,FiscalYear,PayrollNumber,AgencyID,AgencyName,EmployeeID,LastName,FirstName,AgencyStartDate,WorkLocationBorough,TitleCode,TitleDescription,LeaveStatusasofJune30,BaseSalary,PayBasis,RegularHours,RegularGrossPaid,OTHours,TotalOTPaid,TotalOtherPay
0,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,10001,GEAGER,VERONICA,9/12/2016,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.00
1,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,149612,ROTTA,JONATHAN,9/16/2013,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.00
2,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,206583,WILSON II,ROBERT,4/30/2018,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.00
3,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,199874,WASHINGTON,MORIAH,3/18/2019,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,87900.95,0.0,0.0,-3202.74
4,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,58036,KRAWCZYK,AMANDA,5/15/2017,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,83976.54,0.0,0.0,0.00

In [27]:
#concate as one dataframe
nycpayroll_df = pd.concat([nycpayroll_2020, nycpayroll_2021], ignore_index=True)

# Display the DataFrame
nycpayroll_df

,FiscalYear,PayrollNumber,AgencyID,AgencyName,EmployeeID,LastName,FirstName,AgencyStartDate,WorkLocationBorough,TitleCode,TitleDescription,LeaveStatusasofJune30,BaseSalary,PayBasis,RegularHours,RegularGrossPaid,OTHours,TotalOTPaid,TotalOtherPay
0,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,10001,GEAGER,VERONICA,9/12/2016,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.00
1,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,149612,ROTTA,JONATHAN,9/16/2013,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.00
2,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,206583,WILSON II,ROBERT,4/30/2018,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.00
3,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,199874,WASHINGTON,MORIAH,3/18/2019,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,87900.95,0.0,0.0,-3202.74
4,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,58036,KRAWCZYK,AMANDA,5/15/2017,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,83976.54,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2020,19,2122,OFFICE OF MANAGEMENT & BUDGET,33054,HIGGINS,JAMES,6/21/1982,MANHATTAN,40306,COMPUTER SYSTEMS MANAGER,ACTIVE,195826.0,per Annum,1820.0,192850.37,0.0,0.0,0.00
196,2020,19,2122,OFFICE OF MANAGEMENT & BUDGET,19997,GREENBERG,DAVID,7/14/2008,MANHATTAN,40199,BUDGET ANALYST,ACTIVE,196950.0,per Annum,1820.0,192107.94,0.0,0.0,500.00
197,2020,19,2122,OFFICE OF MANAGEMENT & BUDGET,61906,LARSON,CHRISTINE,12/25/2005,MANHATTAN,40199,BUDGET ANALYST,ACTIVE,185843.0,per Annum,1820.0,183019.14,0.0,0.0,0.00
198,2020,19,2122,OFFICE OF MANAGEMENT & BUDGET,19003,GRATHWOL,JOHN,9/27/1988,MANHATTAN,40199,BUDGET ANALYST,CEASED,216431.0,per Annum,0.0,0.00,0.0,0.0,180605.85
199,1998,19,2122,OFFICE OF MANAGEMENT & BUDGET,15188,GOLDSTEIN,JOSHUA,1/4/1999,MANHATTAN,40199,BUDGET ANALYST,ACTIVE,176785.0,per Annum,1820.0,174098.86,0.0,0.0,0.00

In [28]:
#Absolute command 
# Convert only numeric columns to positive values
numeric_cols = nycpayroll_df.select_dtypes(include=['number']).columns
nycpayroll_df[numeric_cols] = nycpayroll_df[numeric_cols].applymap(lambda x: abs(x) if x < 0 else x)

print("\nDataFrame after converting numeric columns only:")
print(nycpayroll_df)

DataFrame after converting numeric columns only:
     FiscalYear  PayrollNumber  AgencyID                      AgencyName  \
0          2020             17      2120  OFFICE OF EMERGENCY MANAGEMENT
1          2020             17      2120  OFFICE OF EMERGENCY MANAGEMENT
2          2020             17      2120  OFFICE OF EMERGENCY MANAGEMENT
3          2020             17      2120  OFFICE OF EMERGENCY MANAGEMENT
4          2020             17      2120  OFFICE OF EMERGENCY MANAGEMENT
..          ...            ...       ...                             ...
195        2020             19      2122   OFFICE OF MANAGEMENT & BUDGET
196        2020             19      2122   OFFICE OF MANAGEMENT & BUDGET
197        2020             19      2122   OFFICE OF MANAGEMENT & BUDGET
198        2020             19      2122   OFFICE OF MANAGEMENT & BUDGET
199        1998             19      2122   OFFICE OF MANAGEMENT & BUDGET

     EmployeeID    LastName  FirstName AgencyStartDate WorkLocationBorough  \
0         10001      GEAGER   VERONICA       9/12/2016            BROOKLYN
1        149612       ROTTA   JONATHAN       9/16/2013            BROOKLYN
2        206583   WILSON II     ROBERT       4/30/2018            BROOKLYN
3        199874  WASHINGTON     MORIAH       3/18/2019            BROOKLYN
4         58036    KRAWCZYK     AMANDA       5/15/2017            BROOKLYN
..          ...         ...        ...             ...                 ...
195       33054     HIGGINS      JAMES       6/21/1982           MANHATTAN
196       19997   GREENBERG      DAVID       7/14/2008           MANHATTAN
197       61906      LARSON  CHRISTINE      12/25/2005           MANHATTAN
198       19003    GRATHWOL       JOHN       9/27/1988           MANHATTAN
199       15188   GOLDSTEIN     JOSHUA        1/4/1999           MANHATTAN

     TitleCode                TitleDescription LeaveStatusasofJune30  \
0        40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
1        40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
2        40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
3        40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
4        40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
..         ...                             ...                   ...
195      40306        COMPUTER SYSTEMS MANAGER                ACTIVE
196      40199                  BUDGET ANALYST                ACTIVE
197      40199                  BUDGET ANALYST                ACTIVE
198      40199                  BUDGET ANALYST                CEASED
199      40199                  BUDGET ANALYST                ACTIVE

     BaseSalary   PayBasis  RegularHours  RegularGrossPaid  OTHours  \
0       86005.0  per Annum        1820.0          84698.21      0.0
1       86005.0  per Annum        1820.0          84698.21      0.0
2       86005.0  per Annum        1820.0          84698.21      0.0
3       86005.0  per Annum        1820.0          87900.95      0.0
4       86005.0  per Annum        1820.0          83976.54      0.0
..          ...        ...           ...               ...      ...
195    195826.0  per Annum        1820.0         192850.37      0.0
196    196950.0  per Annum        1820.0         192107.94      0.0
197    185843.0  per Annum        1820.0         183019.14      0.0
198    216431.0  per Annum           0.0              0.00      0.0
199    176785.0  per Annum        1820.0         174098.86      0.0

     TotalOTPaid  TotalOtherPay
0            0.0           0.00
1            0.0           0.00
2            0.0           0.00
3            0.0        3202.74
4            0.0           0.00
..           ...            ...
195          0.0           0.00
196          0.0         500.00
197          0.0           0.00
198          0.0      180605.85
199          0.0           0.00

[200 rows x 19 columns]

C:\Users\User\AppData\Local\Temp\ipykernel_20348\3887471697.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  nycpayroll_df[numeric_cols] = nycpayroll_df[numeric_cols].applymap(lambda x: abs(x) if x < 0 else x)

In [29]:
#check for null values
print("\nNull Values in DataFrame:")
print(nycpayroll_df.isnull())

Null Values in DataFrame:
     FiscalYear  PayrollNumber  AgencyID  AgencyName  EmployeeID  LastName  \
0         False          False     False       False       False     False
1         False          False     False       False       False     False
2         False          False     False       False       False     False
3         False          False     False       False       False     False
4         False          False     False       False       False     False
..          ...            ...       ...         ...         ...       ...
195       False          False     False       False       False     False
196       False          False     False       False       False     False
197       False          False     False       False       False     False
198       False          False     False       False       False     False
199       False          False     False       False       False     False

     FirstName  AgencyStartDate  WorkLocationBorough  TitleCode  \
0        False            False                False      False
1        False            False                False      False
2        False            False                False      False
3        False            False                False      False
4        False            False                False      False
..         ...              ...                  ...        ...
195      False            False                False      False
196      False            False                False      False
197      False            False                False      False
198      False            False                False      False
199      False            False                False      False

     TitleDescription  LeaveStatusasofJune30  BaseSalary  PayBasis  \
0               False                  False       False     False
1               False                  False       False     False
2               False                  False       False     False
3               False                  False       False     False
4               False                  False       False     False
..                ...                    ...         ...       ...
195             False                  False       False     False
196             False                  False       False     False
197             False                  False       False     False
198             False                  False       False     False
199             False                  False       False     False

     RegularHours  RegularGrossPaid  OTHours  TotalOTPaid  TotalOtherPay
0           False             False    False        False          False
1           False             False    False        False          False
2           False             False    False        False          False
3           False             False    False        False          False
4           False             False    False        False          False
..            ...               ...      ...          ...            ...
195         False             False    False        False          False
196         False             False    False        False          False
197         False             False    False        False          False
198         False             False    False        False          False
199         False             False    False        False          False

[200 rows x 19 columns]

In [30]:
# Check if the DataFrame contains any null values
print("\nDoes the DataFrame contain any null values?")
print(nycpayroll_df.isnull().values.any())

Does the DataFrame contain any null values?
False

In [31]:
# Show rows with any null values
print("\nRows with Any Null Values:")
print(nycpayroll_df[nycpayroll_df.isnull().any(axis=1)])

Rows with Any Null Values:
Empty DataFrame
Columns: [FiscalYear, PayrollNumber, AgencyID, AgencyName, EmployeeID, LastName, FirstName, AgencyStartDate, WorkLocationBorough, TitleCode, TitleDescription, LeaveStatusasofJune30, BaseSalary, PayBasis, RegularHours, RegularGrossPaid, OTHours, TotalOTPaid, TotalOtherPay]
Index: []

In [32]:
#


# Convert to datetime
nycpayroll_df['AgencyStartDate'] = pd.to_datetime(nycpayroll_df['AgencyStartDate'])

print("\nDataFrame with Datetime Format:")
print(nycpayroll_df)

DataFrame with Datetime Format:
     FiscalYear  PayrollNumber  AgencyID                      AgencyName  \
0          2020             17      2120  OFFICE OF EMERGENCY MANAGEMENT
1          2020             17      2120  OFFICE OF EMERGENCY MANAGEMENT
2          2020             17      2120  OFFICE OF EMERGENCY MANAGEMENT
3          2020             17      2120  OFFICE OF EMERGENCY MANAGEMENT
4          2020             17      2120  OFFICE OF EMERGENCY MANAGEMENT
..          ...            ...       ...                             ...
195        2020             19      2122   OFFICE OF MANAGEMENT & BUDGET
196        2020             19      2122   OFFICE OF MANAGEMENT & BUDGET
197        2020             19      2122   OFFICE OF MANAGEMENT & BUDGET
198        2020             19      2122   OFFICE OF MANAGEMENT & BUDGET
199        1998             19      2122   OFFICE OF MANAGEMENT & BUDGET

     EmployeeID    LastName  FirstName AgencyStartDate WorkLocationBorough  \
0         10001      GEAGER   VERONICA      2016-09-12            BROOKLYN
1        149612       ROTTA   JONATHAN      2013-09-16            BROOKLYN
2        206583   WILSON II     ROBERT      2018-04-30            BROOKLYN
3        199874  WASHINGTON     MORIAH      2019-03-18            BROOKLYN
4         58036    KRAWCZYK     AMANDA      2017-05-15            BROOKLYN
..          ...         ...        ...             ...                 ...
195       33054     HIGGINS      JAMES      1982-06-21           MANHATTAN
196       19997   GREENBERG      DAVID      2008-07-14           MANHATTAN
197       61906      LARSON  CHRISTINE      2005-12-25           MANHATTAN
198       19003    GRATHWOL       JOHN      1988-09-27           MANHATTAN
199       15188   GOLDSTEIN     JOSHUA      1999-01-04           MANHATTAN

     TitleCode                TitleDescription LeaveStatusasofJune30  \
0        40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
1        40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
2        40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
3        40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
4        40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
..         ...                             ...                   ...
195      40306        COMPUTER SYSTEMS MANAGER                ACTIVE
196      40199                  BUDGET ANALYST                ACTIVE
197      40199                  BUDGET ANALYST                ACTIVE
198      40199                  BUDGET ANALYST                CEASED
199      40199                  BUDGET ANALYST                ACTIVE

     BaseSalary   PayBasis  RegularHours  RegularGrossPaid  OTHours  \
0       86005.0  per Annum        1820.0          84698.21      0.0
1       86005.0  per Annum        1820.0          84698.21      0.0
2       86005.0  per Annum        1820.0          84698.21      0.0
3       86005.0  per Annum        1820.0          87900.95      0.0
4       86005.0  per Annum        1820.0          83976.54      0.0
..          ...        ...           ...               ...      ...
195    195826.0  per Annum        1820.0         192850.37      0.0
196    196950.0  per Annum        1820.0         192107.94      0.0
197    185843.0  per Annum        1820.0         183019.14      0.0
198    216431.0  per Annum           0.0              0.00      0.0
199    176785.0  per Annum        1820.0         174098.86      0.0

     TotalOTPaid  TotalOtherPay
0            0.0           0.00
1            0.0           0.00
2            0.0           0.00
3            0.0        3202.74
4            0.0           0.00
..           ...            ...
195          0.0           0.00
196          0.0         500.00
197          0.0           0.00
198          0.0      180605.85
199          0.0           0.00

[200 rows x 19 columns]

In [33]:
# writing combine dataframe to csv
df = pd.DataFrame(nycpayroll_df)

# Write the DataFrame to a CSV file
output_file = "nycpayroll_new.csv"
df.to_csv(output_file, index=False)  # index=False to exclude the index column

print(f"DataFrame has been written to {output_file}")

DataFrame has been written to nycpayroll_new.csv

In [34]:
## set up the DB client library
!pip install psycopg2
!pip install sqlalchemy

Requirement already satisfied: psycopg2 in c:\users\user\anaconda3\lib\site-packages (2.9.9)
Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [45]:
## create an engine
load_dotenv('.env', override=True)
engine = create_engine("postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}".format(
                           user = os.getenv('pg_user'),
                           password = os.getenv('pg_password'),
                           host = os.getenv('pg_host'),
                           port = os.getenv('pg_port'),
                           dbname = os.getenv('pg_database')     
                                )
                        )

In [47]:
### CREATE TABLE
## SPECIFY THE REQUIRED COLUMNS

schema = 'staging_schema'

''' my_columns = {
    'FiscalYear' : int,
    'PayrollNumber' : int,
    'AgencyID' :  int,
    'AgencyName' : str,
    'EmployeeID' : int,
    'LastName' : str,
    'FirstName' : str,
    'AgencyStartDate' : datetime,
    'WorkLocationBorough' : str
} '''



# Load data into PostgreSQL
## Loading the data to postgresql

AgencyMaster.to_sql('AgencyMaster', schema=schema, con=engine, if_exists = 'replace', index=False)
EmpMaster.to_sql('EmpMaster', schema=schema, con=engine, if_exists = 'replace', index=False)
nycpayroll_df.to_sql('nycpayroll_df', schema=schema, con=engine, if_exists = 'replace',index=False)
TitleMaster.to_sql('TitleMaster', schema=schema, con=engine, if_exists = 'replace', index=False)
try:   
    print(f"Data successfully loaded into the table '{schema}'.")

except Exception as e:

    print(f"Error loading data: {e}")

Data successfully loaded into the table 'staging_schema'.